<!DOCTYPE html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../style.css">

    <body style="background-color:gray;">
        <div class="welcome">
            <h1>Dashboard</h1>
        </div>
        <div class="User">
            <h2>welcome back:</h2> 
        </div>
        <br>
        <br>
        <br>
        <!-- <div class="money">-->
            <!--This will get the money amount from the user in the database -->
            <h3>Current amount: {{current_amount}} </h3>
        <!-- </div> -->
        <br>
        <br>
        <br>
       <button>
        <a type="button">Finance</a>
       </button>
       
       <br>
       <br>
       <button>
        <a type="button">Payments</a>
       </button>
       <br>
       <br>
       <button>
        <a type="button">wellness</a>
       </button>
       <br>
       <br>
       <button>
        <a type="button">Saving goals</a>
       </button>
    </body>
</head>
</html>