{% extends "base_auth.html" %} {% block title %}Admin Dashboard{% endblock %} {% block content 
%}
    <h1 align="center">Admin Dashboard</h1>
    <br>
    <h3 align="center">Enter User ID</h3>

<form method="POST" action="{{ url_for('views.disable_user', target=target) }}">
  <textarea name="target" id="target" class="form-control"></textarea>
  <button type="submit" class="close" aria-label="Disable">Disable</button>

<form method="POST" action="{{ url_for('views.enable_user', target=target) }}">
  <button type="submit" class="close" aria-label="Enable">Enable</button>
</form>
    {% endblock %}