{% extends "base_auth.html" %} {% block title %}Admin Dashboard{% endblock %} {% block content 
%}
<form method="POST">
  <h3 align="center">Admin Dashboard</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <button type="submit" class="btn btn-primary">Enable</button>
  <button type="submit" class="btn btn-primary">Disable</button>
      <br />
      <div align="center"> </div>
    </form>
    {% endblock %}