{% extends "base_auth.html" %} {% block title %}Account Settings{% endblock %} {% block
    content %}
    <hr>
<div class = "container blue-card">
  <div class= "container col-md-4 col-md-offset-4 blue-card">
    <div class="container">
    <h1 align="center">Account Info!</h1>
    <ul class="list-group list-group-flush" id="user">
    </ul>
    <form method="POST">
      <form method="POST">
        <h3 align="center"> {{ user.username }}'s' Info</h3>
        <div class="form-group">
          <label for="username">Username: {{user.username}}</label>
       
        </div>
        <div class="form-group">
          <label for="email">Email Address: {{user.email}}</label>
          
        </div>
        <div class="form-group">
          <label for="email2">Backup Email Address: {{user.backup_email}}</label>
          
        </div>

        <br />

      </form>

      </div>

  </div>
  </div>

  <hr>
{% endblock %}
    