{% extends "base_auth.html" %}
Portfolio
{% block content %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
      <div class="navbar-nav">
  
      <a class="nav-item nav-link" href="/home">DashBoard</a>
      <a class="navbar-brand nav-tabs "  href="/portfolio"> Portfolio</a>
      <a class="nav-item nav-link" href="/ledger">Ledger</a>
      <a class="nav-item nav-link" href="/notes">Notes</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
    </div>
  </nav>
</div>

<hr>
<div class= "container col-md-4 col-md-offset-4 blue-card">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3">Portfolio</h1>
      <p class="lead">This your portfolio it keeps your cashflow separated.</p>
      <hr class="my-4">
      </p>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Select Ledger</a>
    <!-- Ledger buttons -->
    <div class="btn-group" role="group" aria-label="Ledger buttons">
    {% for portfolio in user.portfolio %}
    <button type="submit" class="btn btn-primary" onclick= 'location.href="{{ url_for('views.ledger',default_ledger=portfolio.name) }}"'>{{portfolio.name}}</button>
    {% endfor %}
    </div>

    </nav>
      
    <hr>
    
      <!-- Recent Activity Log -->
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand " href="#">Recent Activity</a>
      <div class = "container  ">
        <ul class="list-group blue-card">
          {% for entry in recent_activities %}
          <li class="list-group-item port-card">
            {{ entry.name}} -{{entry.details}} - $ {{ "{:.2f}".format(entry.amount) }}/day - {{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
</div>
</div>
<hr>
{% endblock %}

    







