{% extends "base_auth.html" %}
Portfolio
{% block content %}
<div class="container mt-4">
  <h2>My Portfolio</h2>
  <div class="btn-group" role="group" aria-label="Ledger buttons">
    <!-- Ledger buttons -->
    {% for portfolio in user.portfolio %}
    <a href="{{ url_for('views.ledger',default_ledger=portfolio.ledger_name) }}" class="btn btn-secondary">{{portfolio.ledger_name}}-</a>
    {% endfor %}
  </div>

  <hr>

  <!-- Recent Activity Log -->
  <h4>Recent Activity</h4>
  <ul class="list-group">
    {% for entry in recent_activities %}
    <li class="list-group-item">
      {{ entry.description }} - {{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
