
{% extends "base_auth.html" %} {% block title %}Welcome{% endblock %} {% block content
  %}
  <hr>
  <form method="POST">
    <h2>Welcome</h2>
    <h5>Have you made an account?</h5>
    <div class="form-group">
      <label for="email">Check Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Check your email address"
      />
    </div>
    <div class="form-group">
      <label for="username">Check Username</label>
      <input
        type="username"
        class="form-control"
        id="username"
        name="username"
        placeholder="Check your username"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Check us out</button>
  </form>
  <a class="nav-item nav-link" id="sign-up" href="/sign-up">Goto Sign-up</a>
  {% endblock %}

    

